{% set title = "Index" %}

{% extends "main.tpl" %}

{% block content %}

    <div class="section1-wrapper">
        <div class="container">
            <div class="section1">
                <h1 class="title"><span>#Green</span>AralSea</h1>
                <span class="subtitle">
                    Planting Saxaul - native drought resistant tree-plant - on a dried seabed of the Aral Sea is the<br> most efficient way of shifting from the tragedy into the new opportunities for all.
                </span>
                <div class="statistics">
                    <span class="regular">Total Trees/USD:</span>
                    <span class="big">50,0000</span>
                    <span class="regular">Your contribution matters!</span>
                </div>

                <div class="button-holder">
                    <a href="#" class="donate">Contribute in USD</a>
                    <a href="#" class="donate">Contribute in UZS</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section2-wrapper">
        <div class="container">
            <div class="section2">
                <div class="left-side">
                    <h1 class="title">Why it is <span>time</span> to <span>act now?</span></h1>
                    <div class="aral-photos-wrapper">
                        <img src="../../images/aral.gif" alt="">
                    </div>
                    <div class="text-block">
                        <ul class="text-list">
                            <li class="list-item">
                                The area of Aral Sea is slightly less than the size of Ireland
                            </li>
                            <li class="list-item">
                                The sea lost 60,000 km2 of its size (double size of the territory of Belgium)
                            </li>
                            <li class="list-item">
                                50% of the flora and fauna is lost, including: 11 types of fish, 11 species plants, 26 species of birds, 12 species of mammals
                            </li>
                            <li class="list-item">
                                Frequent droughts and dust storms – 75 milln tonnes of toxic salts and sand are spread every year
                            </li>
                            <li class="list-item">
                                Cancer, tuberculosis (TB) cases are 50% more higher than in other regions
                            </li>
                            <li class="list-item">
                                Only 50% of population have access to drinking water
                            </li>
                            <li class="list-item">
                                Poverty rate is the highest in the region.
                            </li>
                            <li class="list-item">
                                The area of Aral Sea is slightly less than the size of Ireland
                            </li>
                            <li class="list-item">
                                The sea lost 60,000 km2 of its size (double size of the territory of Belgium)
                            </li>
                            <li class="list-item">
                                50% of the flora and fauna is lost, including: 11 types of fish, 11 species plants, 26 species of birds, 12 species of mammals
                            </li>
                            <li class="list-item">
                                Frequent droughts and dust storms – 75 milln tonnes of toxic salts and sand are spread every year
                            </li>
                            <li class="list-item">
                                Cancer, tuberculosis (TB) cases are 50% more higher than in other regions
                            </li>
                            <li class="list-item">
                                Only 50% of population have access to drinking water
                            </li>
                            <li class="list-item">
                                Poverty rate is the highest in the region.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-side">
                    <div class="video-block">
                        <iframe width="600" height="420" src="https://www.youtube.com/embed/nqnkBdExjws" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="video-carousel owl-carousel">
                            <div class="item">
                                <iframe width="175" height="107" src="https://www.youtube.com/embed/S9bCLPwzSC0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="item">
                                <iframe width="175" height="107" src="https://www.youtube.com/embed/S9bCLPwzSC0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="item">
                                <iframe width="175" height="107" src="https://www.youtube.com/embed/S9bCLPwzSC0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="item">
                                <iframe width="175" height="107" src="https://www.youtube.com/embed/S9bCLPwzSC0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="item">
                                <iframe width="175" height="107" src="https://www.youtube.com/embed/S9bCLPwzSC0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <h1 class="title">Recent contributions</h1>
                    <div class="contrib-wrapper">
                        <div class="contrib-item ninety">
                            <div class="contrib-left">
                                <div class="icon-holder">
                                    <img src="../../images/icons/99.svg" alt="">
                                </div>
                            </div>
                            <div class="contrib-right">
                                <div class="meta-items">
                                    <span class="contrib-name">Anonymous</span>
                                    <span class="contrib-date">1/13/2020, 1:54:30 PM</span>
                                    <span class="contrib-comment">This is great!</span>
                                </div>
                                <span class="count-holder">20 trees</span>
                            </div>
                        </div>
                        <div class="contrib-item hundred">
                            <div class="contrib-left">
                                <div class="icon-holder">
                                    <img src="../../images/icons/100.svg" alt="">
                                </div>
                            </div>
                            <div class="contrib-right">
                                <div class="meta-items">
                                    <span class="contrib-name">Anonymous</span>
                                    <span class="contrib-date">1/13/2020, 1:54:30 PM</span>
                                    <span class="contrib-comment">This is great!</span>
                                </div>
                                <span class="count-holder">100 trees</span>
                            </div>
                        </div>
                        <div class="contrib-item fiveh">
                            <div class="contrib-left">
                                <div class="icon-holder">
                                    <img src="../../images/icons/500.svg" alt="">
                                </div>
                            </div>
                            <div class="contrib-right">
                                <div class="meta-items">
                                    <span class="contrib-name">Anonymous</span>
                                    <span class="contrib-date">1/13/2020, 1:54:30 PM</span>
                                    <span class="contrib-comment">This is great!</span>
                                </div>
                                <span class="count-holder">500 trees</span>
                            </div>
                        </div>
                        <div class="contrib-item thousand">
                            <div class="contrib-left">
                                <div class="icon-holder">
                                    <img src="../../images/icons/1000.svg" alt="">
                                </div>
                            </div>
                            <div class="contrib-right">
                                <div class="meta-items">
                                    <span class="contrib-name">Anonymous</span>
                                    <span class="contrib-date">1/13/2020, 1:54:30 PM</span>
                                    <span class="contrib-comment">This is great!</span>
                                </div>
                                <span class="count-holder">1021 trees</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grad-wrapper right ship">
        <div class="container">
            <div class="grad">
                <div class="grad-inner">
                    <h3 class="title">If we don’t act now, tomorrow it’s <br><span>consequences will reach all of us</span></h3>
                    <p class="text">
                        For centuries Aral Sea was the world’s fourth largest inland lake, offering its treasures and sustaining many settlements, where people enjoyed prosperous lives as fishermen, farmers, herders, craftsmen and traders.
                    </p>
                    <p class="text">
                        However, in just the past 60 to 80 years, the sea lost 90% of its size and was transformed into the Aralkum desert. This disaster has had catastrophic impacts on biodiversity with many types of fish, animals and plants completely disappearing from the region.                    </p>
                    <p class="text">
                        You can make a difference for people living there and beyond by making the environment healthier and more suitable.
                    </p>
                    <p class="text">
                        Toxic salts and sand are picked up by winds and carried out over to hundreds and thousands of kilometers harming people’s livelihoods and well being and impacting their identities and culture.                    </p>
                    <p class="text">
                        Studies show that each year, winds from Aral Sea carry 100 million tons of toxic sand and salts that reach out European cities, glaciers of Island, forests in Norway and even Antarctica.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="grad-wrapper">
        <div class="container">
            <div class="grad">
                <div class="grad-inner">
                    <h3 class="title"><span>Transforming the tragedy into the new opportunities for all</span></h3>
                    <p class="text">
                        There is a consensus that bring water back to the Larger South Aral Sea is unlikely.
                    </p>
                    <p class="text">
                        However, it does not mean nothing can be done.
                    </p>
                    <p class="text">
                        You can make a difference for people living there and beyond by making the environment healthier and more suitable.
                    </p>
                    <p class="text">
                        We aim to plant Saxaul in the Aral seabed and transform 100 hectares into forest.
                    </p>
                    <p class="text">
                        Saxaul can help stopping the spread of toxic salts and desertification – just one tree can fix and hold up to 4 tons of sand.
                    </p>
                    <p class="text">
                        This will be a FIRST but CRUCIAL MOVE to cover Aral Sea with green blanket, helping protect the environment and give people hope for a brighter future.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="grad-wrapper family right">
        <div class="container">
            <div class="grad">
                <div class="grad-inner">
                    <h3 class="title">Your gift is an investment today to <br><span>make a real change</span></h3>
                    <p class="text">
                        There is a consensus that bring water back to the Larger South Aral Sea is unlikely.
                    </p>
                    <p class="text">
                        However, it does not mean nothing can be done.
                    </p>
                    <p class="text">
                        You can make a difference for people living there and beyond by making the environment healthier and more suitable.
                    </p>
                    <p class="text">
                        We aim to plant Saxaul in the Aral seabed and transform 100 hectares into forest.
                    </p>
                    <p class="text">
                        Saxaul can help stopping the spread of toxic salts and desertification – just one tree can fix and hold up to 4 tons of sand.
                    </p>
                    <p class="text">
                        This will be a FIRST but CRUCIAL MOVE to cover Aral Sea with green blanket, helping protect the environment and give people hope for a brighter future.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="grad-wrapper garden bottom">
        <div class="container">
            <div class="grad">
                <div class="grad-inner">
                    <h3 class="title">How can you <span>contribute:</span></h3>
                    <p class="text">
                        We have a dedicate land plot in the seabed of Aral Sea of first 100 hectares (247 acres), where saxaul will be planted. 
                    </p>
                    <p class="text">
                        $1 plants a saxaul. Saxaul is ‘a salt cedar’ and one of the most important and useful native plants in the arid region.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="learn-more-section">
        <h2 class="title">Learn More</h2>
        <div class="learn-carousel owl-carousel">
            <div class="learn-item">
                <div class="back">
                    <img src="../../images/learn.png" alt="">
                </div>
                <div class="front">
                    <span class="title">Some info 1</span>
                    <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </div>
            </div>
            <div class="learn-item">
                <div class="back">
                    <img src="../../images/learn.png" alt="">
                </div>
                <div class="front">
                    <span class="title">Some info 2</span>
                    <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </div>
            </div>
            <div class="learn-item">
                <div class="back">
                    <img src="../../images/learn.png" alt="">
                </div>
                <div class="front">
                    <span class="title">Some info 3</span>
                    <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </div>
            </div>
            <div class="learn-item">
                <div class="back">
                    <img src="../../images/learn.png" alt="">
                </div>
                <div class="front">
                    <span class="title">Some info 4</span>
                    <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </div>
            </div>
            <div class="learn-item">
                <div class="back">
                    <img src="../../images/learn.png" alt="">
                </div>
                <div class="front">
                    <span class="title">Some info 5</span>
                    <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}